body, html {
    height: 100%;
    margin: 0;
    
  }
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/banner.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 8%;
  }
  
.heading{
    text-align: center;
    color: red;
    font-size: 116%;
}
 nav ul {
    list-style-type: none;
    margin-left: 27%;
}
nav li {
    display: inline;
    padding: 2%;
}
.banner img{
    width: 200px;
  height: 300px;
  object-fit: cover;
}
.sec1 h1{
    text-align: center;
    margin-bottom: 4%;
}
.sec1 p {
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    margin-bottom: 8%;
}
.view button{
    margin-top: 5%;
    margin-left: 80%;
}